*
{
    box-sizing: border-box;
    text-align: center;
}

body, html
{
  font-family: rambla;
  overflow-x: hidden;
  margin: 0;
}

html
{
  background-color: grey;
  width: 100%;
}

body
{
  background-image: url("../img/desertBackground.jpeg");
  background-position-y: 18%;
  width: 75%;
  height: 100vh;
  margin: auto;
}

#Nav-Bar
{
  background-color: rgba(0,0,0,.75);
  margin-top: 1%;
  position: relative;
  box-shadow: 4px 4px 11px rgba(0,0,0,.5);
}
#Nav-Bar a
{
  transition: all .25s ease-out;
  transition-property: color;
  color: lemonchiffon;
}

#Nav-Bar a:hover
{
  color:#a40606
}

#Nav-Bar-Inner-Container
{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.navbar-brand
{
  margin: auto;
  margin-left: -5%;
  padding: 0;
  color: lemonchiffon !important;
  font-family: 'Amatic SC', cursive;
  font-size: 34px;
}

.dropdown-menu
{
  background-color: gray;
  border-color: grey;
  border-width: 2px;
  border-left: 0;
  border-right: 0;
}

.dropdown-item
{
  color: white;
  text-align: center;
}

.dropdown-item:focus, .dropdown-item:hover
{
  background-color: inherit;
}

#Body-Container
{

display: block;

width: 80%;

height: 82%;

background-color: rgba(0,0,0,.0);

margin: auto;

margin-top: 3%;

padding: 10% 16% 1% 16%;

border-radius: .25rem;
}

#Body-Text
{

color: white;
}

#Body-Text h3
{

margin-top: 9%;

line-height: 1.75;
}

#Body-Text h1
{

font-size: 149px;

letter-spacing: 10px;

color: lemonchiffon;

/* font-weight: bold; */

font-family: 'Caveat Brush', cursive;

font-family: 'Pacifico', cursive;

/* font-family: 'Permanent Marker', cursive; */

font-family: 'Amatic SC', cursive;

text-shadow: 5px 4px 3px rgba(0,0,0, .5);
}

#Body-Image-Container
{

}

#Footer
{

}

#Footer-Table
{

}

@media only screen and (min-width: 1084px)
{
  #Nav-Bar-Inner-Container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    margin-left: 18%;
  }

  .navbar-brand:hover
  {
    cursor: default;
  }

  #nav-ul
  {
    margin: auto;
    margin-left: 8%;
    width: 81%;
  }

  .navbar-nav
  {
    justify-content: space-evenly;
  }

  .dropdown-menu
  {
    margin-left: -85%;
    margin-top: 13%;
    border-color: grey;
    border-width: 6px;
    border-top: solid 6px grey;
    border-radius: 0px 0px .25rem 0.25rem;
    border-left-width: 6px;
    border-left-style: solid;
    border-right: grey;
    box-shadow: 4px 4px 11px rgba(0,0,0,.5);
  }

  #Body-Text h1:hover
  {
    cursor: default;
  }
}
